<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" opened="true" class="side-nav">
    <mat-list>
      <a mat-list-item [routerLink]="'enable-disable-controls'">Enable/Disable controls</a>
      <a mat-list-item [routerLink]="'show-hide-controls'">Show/Hide controls</a>
      <a mat-list-item [routerLink]="'set-control-values'">Set control values</a>
      <a mat-list-item [routerLink]="'dependency-values'">Dependency values</a>
      <a mat-list-item [routerLink]="'form-validation'">Validation</a>
      <a mat-list-item [routerLink]="'use-form-values'">Use form values</a>
      <a mat-list-item [routerLink]="'form-array-values'">Array values</a>
      <a mat-list-item [routerLink]="'custom-form-field-editors'">Custom form field editors</a>
      <a mat-list-item [routerLink]="'custom-form-group-editor'">Custom form group editor</a>
      <a mat-list-item [routerLink]="'dynamic-form-config'">Dynamic form config</a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
